datasets/.DS_Store
datasets/imvladikon/hebrew_speech_kan/.DS_Store
datasets/imvladikon/hebrew_speech_kan/test/cache-8c259b67ad0a528a.arrow
datasets/imvladikon/hebrew_speech_kan/test/cache-460c9d0edeaed94b.arrow
datasets/imvladikon/hebrew_speech_kan/test/cache-60267d181e74c82d.arrow
datasets/imvladikon/hebrew_speech_kan/test/cache-a6c1734fcd65ad01.arrow
datasets/imvladikon/hebrew_speech_kan/test/data-00000-of-00001.arrow
datasets/imvladikon/hebrew_speech_kan/test/dataset_info.json
datasets/imvladikon/hebrew_speech_kan/test/state.json
datasets/imvladikon/hebrew_speech_kan/train/cache-2af17ecc10e56f33.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-5a4c547764c73809.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-7f8e949bbc32fbd5.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-8a8f311969e8dd4a.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-2762610ea37aedbb.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-aec9bdbe3113abc9.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-f60b438edd5cad28.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00000-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00001-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00002-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00003-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/dataset_info.json
datasets/imvladikon/hebrew_speech_kan/train/state.json
models/openai/whisper-small/added_tokens.json
models/openai/whisper-small/config.json
models/openai/whisper-small/generation_config.json
models/openai/whisper-small/merges.txt
models/openai/whisper-small/model.safetensors
models/openai/whisper-small/normalizer.json
models/openai/whisper-small/preprocessor_config.json
models/openai/whisper-small/special_tokens_map.json
models/openai/whisper-small/tokenizer_config.json
models/openai/whisper-small/vocab.json
datasets/kan_dataset/test/cache-9cb3b95d67fc75c7.arrow
datasets/kan_dataset/test/cache-198eade333845d90.arrow
datasets/kan_dataset/test/cache-248d6a4b539f3ca4.arrow
datasets/kan_dataset/test/cache-a8a85c514b0283c1.arrow
datasets/kan_dataset/test/cache-c23d84f5e92a7ba8.arrow
datasets/kan_dataset/test/data-00000-of-00001.arrow
datasets/kan_dataset/test/dataset_info.json
datasets/kan_dataset/test/state.json
datasets/kan_dataset/train/cache-7e1ab8a95dce89c0.arrow
datasets/kan_dataset/train/cache-788fdc7c803ae908.arrow
datasets/kan_dataset/train/cache-db7f32167c8a495c.arrow
datasets/kan_dataset/train/cache-e8e78ea80ad5dfe4.arrow
datasets/kan_dataset/train/cache-ea2cc9a16beeaa5a.arrow
datasets/kan_dataset/train/data-00000-of-00004.arrow
datasets/kan_dataset/train/data-00001-of-00004.arrow
datasets/kan_dataset/train/data-00002-of-00004.arrow
datasets/kan_dataset/train/data-00003-of-00004.arrow
datasets/kan_dataset/train/dataset_info.json
datasets/kan_dataset/train/state.json
models/whisper-small/added_tokens.json
models/whisper-small/config.json
models/whisper-small/generation_config.json
models/whisper-small/merges.txt
models/whisper-small/model.safetensors
models/whisper-small/normalizer.json
models/whisper-small/preprocessor_config.json
models/whisper-small/special_tokens_map.json
models/whisper-small/tokenizer_config.json
models/whisper-small/training_args.bin
models/whisper-small/vocab.json
models/whisper-small/runs/Jan07_13-21-56_ip-10-192-12-99/events.out.tfevents.1704633720.ip-10-192-12-99.2434.0
models/whisper-small/runs/Jan07_13-21-56_ip-10-192-12-99/events.out.tfevents.1704634299.ip-10-192-12-99.2434.1
