datasets/.DS_Store
datasets/imvladikon/hebrew_speech_kan/.DS_Store
datasets/imvladikon/hebrew_speech_kan/test/cache-8c259b67ad0a528a.arrow
datasets/imvladikon/hebrew_speech_kan/test/cache-460c9d0edeaed94b.arrow
datasets/imvladikon/hebrew_speech_kan/test/cache-60267d181e74c82d.arrow
datasets/imvladikon/hebrew_speech_kan/test/cache-a6c1734fcd65ad01.arrow
datasets/imvladikon/hebrew_speech_kan/test/data-00000-of-00001.arrow
datasets/imvladikon/hebrew_speech_kan/test/dataset_info.json
datasets/imvladikon/hebrew_speech_kan/test/state.json
datasets/imvladikon/hebrew_speech_kan/train/cache-2af17ecc10e56f33.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-5a4c547764c73809.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-7f8e949bbc32fbd5.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-8a8f311969e8dd4a.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-2762610ea37aedbb.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-aec9bdbe3113abc9.arrow
datasets/imvladikon/hebrew_speech_kan/train/cache-f60b438edd5cad28.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00000-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00001-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00002-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/data-00003-of-00004.arrow
datasets/imvladikon/hebrew_speech_kan/train/dataset_info.json
datasets/imvladikon/hebrew_speech_kan/train/state.json
models/openai/whisper-small/added_tokens.json
models/openai/whisper-small/config.json
models/openai/whisper-small/generation_config.json
models/openai/whisper-small/merges.txt
models/openai/whisper-small/model.safetensors
models/openai/whisper-small/normalizer.json
models/openai/whisper-small/preprocessor_config.json
models/openai/whisper-small/special_tokens_map.json
models/openai/whisper-small/tokenizer_config.json
models/openai/whisper-small/vocab.json
datasets/kan_dataset/test/cache-9cb3b95d67fc75c7.arrow
datasets/kan_dataset/test/cache-198eade333845d90.arrow
datasets/kan_dataset/test/cache-248d6a4b539f3ca4.arrow
datasets/kan_dataset/test/cache-a8a85c514b0283c1.arrow
datasets/kan_dataset/test/cache-c23d84f5e92a7ba8.arrow
datasets/kan_dataset/test/data-00000-of-00001.arrow
datasets/kan_dataset/test/dataset_info.json
datasets/kan_dataset/test/state.json
datasets/kan_dataset/train/cache-7e1ab8a95dce89c0.arrow
datasets/kan_dataset/train/cache-788fdc7c803ae908.arrow
datasets/kan_dataset/train/cache-db7f32167c8a495c.arrow
datasets/kan_dataset/train/cache-e8e78ea80ad5dfe4.arrow
datasets/kan_dataset/train/cache-ea2cc9a16beeaa5a.arrow
datasets/kan_dataset/train/data-00000-of-00004.arrow
datasets/kan_dataset/train/data-00001-of-00004.arrow
datasets/kan_dataset/train/data-00002-of-00004.arrow
datasets/kan_dataset/train/data-00003-of-00004.arrow
datasets/kan_dataset/train/dataset_info.json
datasets/kan_dataset/train/state.json
models/whisper-small/added_tokens.json
models/whisper-small/config.json
models/whisper-small/generation_config.json
models/whisper-small/merges.txt
models/whisper-small/model.safetensors
models/whisper-small/normalizer.json
models/whisper-small/preprocessor_config.json
models/whisper-small/special_tokens_map.json
models/whisper-small/tokenizer_config.json
models/whisper-small/training_args.bin
models/whisper-small/vocab.json
models/whisper-small/runs/Jan07_13-21-56_ip-10-192-12-99/events.out.tfevents.1704633720.ip-10-192-12-99.2434.0
models/whisper-small/runs/Jan07_13-21-56_ip-10-192-12-99/events.out.tfevents.1704634299.ip-10-192-12-99.2434.1
word2vec-kenlm/kenlm/.gitignore
word2vec-kenlm/kenlm/BUILDING
word2vec-kenlm/kenlm/clean_query_only.sh
word2vec-kenlm/kenlm/CMakeLists.txt
word2vec-kenlm/kenlm/compile_query_only.sh
word2vec-kenlm/kenlm/COPYING
word2vec-kenlm/kenlm/COPYING.3
word2vec-kenlm/kenlm/COPYING.LESSER.3
word2vec-kenlm/kenlm/Doxyfile
word2vec-kenlm/kenlm/GIT_REVISION
word2vec-kenlm/kenlm/LICENSE
word2vec-kenlm/kenlm/MANIFEST.in
word2vec-kenlm/kenlm/README.md
word2vec-kenlm/kenlm/setup.py
word2vec-kenlm/kenlm/.github/workflows/mac.yml
word2vec-kenlm/kenlm/.github/workflows/ubuntu.yml
word2vec-kenlm/kenlm/.github/workflows/windows.yml
word2vec-kenlm/kenlm/cmake/kenlmConfig.cmake.in
word2vec-kenlm/kenlm/cmake/KenLMFunctions.cmake
word2vec-kenlm/kenlm/cmake/modules/FindEigen3.cmake
word2vec-kenlm/kenlm/include/lm/bhiksha.hh
word2vec-kenlm/kenlm/include/lm/binary_format.hh
word2vec-kenlm/kenlm/include/lm/blank.hh
word2vec-kenlm/kenlm/include/lm/config.hh
word2vec-kenlm/kenlm/include/lm/enumerate_vocab.hh
word2vec-kenlm/kenlm/include/lm/facade.hh
word2vec-kenlm/kenlm/include/lm/left.hh
word2vec-kenlm/kenlm/include/lm/lm_exception.hh
word2vec-kenlm/kenlm/include/lm/max_order.hh
word2vec-kenlm/kenlm/include/lm/model_type.hh
word2vec-kenlm/kenlm/include/lm/model.hh
word2vec-kenlm/kenlm/include/lm/ngram_query.hh
word2vec-kenlm/kenlm/include/lm/partial.hh
word2vec-kenlm/kenlm/include/lm/quantize.hh
word2vec-kenlm/kenlm/include/lm/read_arpa.hh
word2vec-kenlm/kenlm/include/lm/return.hh
word2vec-kenlm/kenlm/include/lm/search_hashed.hh
word2vec-kenlm/kenlm/include/lm/search_trie.hh
word2vec-kenlm/kenlm/include/lm/sizes.hh
word2vec-kenlm/kenlm/include/lm/state.hh
word2vec-kenlm/kenlm/include/lm/trie_sort.hh
word2vec-kenlm/kenlm/include/lm/trie.hh
word2vec-kenlm/kenlm/include/lm/value_build.hh
word2vec-kenlm/kenlm/include/lm/value.hh
word2vec-kenlm/kenlm/include/lm/virtual_interface.hh
word2vec-kenlm/kenlm/include/lm/vocab.hh
word2vec-kenlm/kenlm/include/lm/weights.hh
word2vec-kenlm/kenlm/include/lm/word_index.hh
word2vec-kenlm/kenlm/include/lm/builder/adjust_counts.hh
word2vec-kenlm/kenlm/include/lm/builder/corpus_count.hh
word2vec-kenlm/kenlm/include/lm/builder/discount.hh
word2vec-kenlm/kenlm/include/lm/builder/hash_gamma.hh
word2vec-kenlm/kenlm/include/lm/builder/header_info.hh
word2vec-kenlm/kenlm/include/lm/builder/initial_probabilities.hh
word2vec-kenlm/kenlm/include/lm/builder/interpolate.hh
word2vec-kenlm/kenlm/include/lm/builder/joint_order.hh
word2vec-kenlm/kenlm/include/lm/builder/ngram_stream.hh
word2vec-kenlm/kenlm/include/lm/builder/ngram.hh
word2vec-kenlm/kenlm/include/lm/builder/output.hh
word2vec-kenlm/kenlm/include/lm/builder/pipeline.hh
word2vec-kenlm/kenlm/include/lm/builder/print.hh
word2vec-kenlm/kenlm/include/lm/builder/sort.hh
word2vec-kenlm/kenlm/include/lm/filter/arpa_io.hh
word2vec-kenlm/kenlm/include/lm/filter/count_io.hh
word2vec-kenlm/kenlm/include/lm/filter/format.hh
word2vec-kenlm/kenlm/include/lm/filter/phrase.hh
word2vec-kenlm/kenlm/include/lm/filter/thread.hh
word2vec-kenlm/kenlm/include/lm/filter/vocab.hh
word2vec-kenlm/kenlm/include/lm/filter/wrapper.hh
word2vec-kenlm/kenlm/include/lm/interpolate/arpa_to_stream.hh
word2vec-kenlm/kenlm/include/lm/neural/wordvecs.hh
word2vec-kenlm/kenlm/include/lm/wrappers/nplm.hh
word2vec-kenlm/kenlm/include/util/bit_packing.hh
word2vec-kenlm/kenlm/include/util/ersatz_progress.hh
word2vec-kenlm/kenlm/include/util/exception.hh
word2vec-kenlm/kenlm/include/util/fake_ofstream.hh
word2vec-kenlm/kenlm/include/util/file_piece.hh
word2vec-kenlm/kenlm/include/util/file.hh
word2vec-kenlm/kenlm/include/util/fixed_array.hh
word2vec-kenlm/kenlm/include/util/getopt.hh
word2vec-kenlm/kenlm/include/util/have.hh
word2vec-kenlm/kenlm/include/util/joint_sort.hh
word2vec-kenlm/kenlm/include/util/mmap.hh
word2vec-kenlm/kenlm/include/util/multi_intersection.hh
word2vec-kenlm/kenlm/include/util/murmur_hash.hh
word2vec-kenlm/kenlm/include/util/parallel_read.hh
word2vec-kenlm/kenlm/include/util/pcqueue.hh
word2vec-kenlm/kenlm/include/util/pool.hh
word2vec-kenlm/kenlm/include/util/probing_hash_table.hh
word2vec-kenlm/kenlm/include/util/proxy_iterator.hh
word2vec-kenlm/kenlm/include/util/read_compressed.hh
word2vec-kenlm/kenlm/include/util/scoped.hh
word2vec-kenlm/kenlm/include/util/sized_iterator.hh
word2vec-kenlm/kenlm/include/util/sorted_uniform.hh
word2vec-kenlm/kenlm/include/util/string_piece_hash.hh
word2vec-kenlm/kenlm/include/util/string_piece.hh
word2vec-kenlm/kenlm/include/util/thread_pool.hh
word2vec-kenlm/kenlm/include/util/tokenize_piece.hh
word2vec-kenlm/kenlm/include/util/unistd.hh
word2vec-kenlm/kenlm/include/util/usage.hh
word2vec-kenlm/kenlm/include/util/stream/block.hh
word2vec-kenlm/kenlm/include/util/stream/chain.hh
word2vec-kenlm/kenlm/include/util/stream/config.hh
word2vec-kenlm/kenlm/include/util/stream/io.hh
word2vec-kenlm/kenlm/include/util/stream/line_input.hh
word2vec-kenlm/kenlm/include/util/stream/multi_progress.hh
word2vec-kenlm/kenlm/include/util/stream/multi_stream.hh
word2vec-kenlm/kenlm/include/util/stream/sort.hh
word2vec-kenlm/kenlm/include/util/stream/stream.hh
word2vec-kenlm/kenlm/include/util/stream/timer.hh
word2vec-kenlm/kenlm/lm/bhiksha.cc
word2vec-kenlm/kenlm/lm/bhiksha.hh
word2vec-kenlm/kenlm/lm/binary_format.cc
word2vec-kenlm/kenlm/lm/binary_format.hh
word2vec-kenlm/kenlm/lm/blank.hh
word2vec-kenlm/kenlm/lm/build_binary_main.cc
word2vec-kenlm/kenlm/lm/CMakeLists.txt
word2vec-kenlm/kenlm/lm/config.cc
word2vec-kenlm/kenlm/lm/config.hh
word2vec-kenlm/kenlm/lm/enumerate_vocab.hh
word2vec-kenlm/kenlm/lm/facade.hh
word2vec-kenlm/kenlm/lm/fragment_main.cc
word2vec-kenlm/kenlm/lm/kenlm_benchmark_main.cc
word2vec-kenlm/kenlm/lm/left_test.cc
word2vec-kenlm/kenlm/lm/left.hh
word2vec-kenlm/kenlm/lm/lm_exception.cc
word2vec-kenlm/kenlm/lm/lm_exception.hh
word2vec-kenlm/kenlm/lm/max_order.hh
word2vec-kenlm/kenlm/lm/model_test.cc
word2vec-kenlm/kenlm/lm/model_type.hh
word2vec-kenlm/kenlm/lm/model.cc
word2vec-kenlm/kenlm/lm/model.hh
word2vec-kenlm/kenlm/lm/ngram_query.hh
word2vec-kenlm/kenlm/lm/partial_test.cc
word2vec-kenlm/kenlm/lm/partial.hh
word2vec-kenlm/kenlm/lm/quantize.cc
word2vec-kenlm/kenlm/lm/quantize.hh
word2vec-kenlm/kenlm/lm/query_main.cc
word2vec-kenlm/kenlm/lm/read_arpa.cc
word2vec-kenlm/kenlm/lm/read_arpa.hh
word2vec-kenlm/kenlm/lm/return.hh
word2vec-kenlm/kenlm/lm/search_hashed.cc
word2vec-kenlm/kenlm/lm/search_hashed.hh
word2vec-kenlm/kenlm/lm/search_trie.cc
word2vec-kenlm/kenlm/lm/search_trie.hh
word2vec-kenlm/kenlm/lm/sizes.cc
word2vec-kenlm/kenlm/lm/sizes.hh
word2vec-kenlm/kenlm/lm/state.hh
word2vec-kenlm/kenlm/lm/test_nounk.arpa
word2vec-kenlm/kenlm/lm/test.arpa
word2vec-kenlm/kenlm/lm/trie_sort.cc
word2vec-kenlm/kenlm/lm/trie_sort.hh
word2vec-kenlm/kenlm/lm/trie.cc
word2vec-kenlm/kenlm/lm/trie.hh
word2vec-kenlm/kenlm/lm/value_build.cc
word2vec-kenlm/kenlm/lm/value_build.hh
word2vec-kenlm/kenlm/lm/value.hh
word2vec-kenlm/kenlm/lm/virtual_interface.cc
word2vec-kenlm/kenlm/lm/virtual_interface.hh
word2vec-kenlm/kenlm/lm/vocab.cc
word2vec-kenlm/kenlm/lm/vocab.hh
word2vec-kenlm/kenlm/lm/weights.hh
word2vec-kenlm/kenlm/lm/word_index.hh
word2vec-kenlm/kenlm/lm/builder/adjust_counts_test.cc
word2vec-kenlm/kenlm/lm/builder/adjust_counts.cc
word2vec-kenlm/kenlm/lm/builder/adjust_counts.hh
word2vec-kenlm/kenlm/lm/builder/CMakeLists.txt
word2vec-kenlm/kenlm/lm/builder/combine_counts.hh
word2vec-kenlm/kenlm/lm/builder/corpus_count_test.cc
word2vec-kenlm/kenlm/lm/builder/corpus_count.cc
word2vec-kenlm/kenlm/lm/builder/corpus_count.hh
word2vec-kenlm/kenlm/lm/builder/count_ngrams_main.cc
word2vec-kenlm/kenlm/lm/builder/debug_print.hh
word2vec-kenlm/kenlm/lm/builder/discount.hh
word2vec-kenlm/kenlm/lm/builder/dump_counts_main.cc
word2vec-kenlm/kenlm/lm/builder/hash_gamma.hh
word2vec-kenlm/kenlm/lm/builder/header_info.hh
word2vec-kenlm/kenlm/lm/builder/initial_probabilities.cc
word2vec-kenlm/kenlm/lm/builder/initial_probabilities.hh
word2vec-kenlm/kenlm/lm/builder/interpolate.cc
word2vec-kenlm/kenlm/lm/builder/interpolate.hh
word2vec-kenlm/kenlm/lm/builder/lmplz_main.cc
word2vec-kenlm/kenlm/lm/builder/output.cc
word2vec-kenlm/kenlm/lm/builder/output.hh
word2vec-kenlm/kenlm/lm/builder/payload.hh
word2vec-kenlm/kenlm/lm/builder/pipeline.cc
word2vec-kenlm/kenlm/lm/builder/pipeline.hh
word2vec-kenlm/kenlm/lm/builder/README.md
word2vec-kenlm/kenlm/lm/builder/TODO
word2vec-kenlm/kenlm/lm/common/CMakeLists.txt
word2vec-kenlm/kenlm/lm/common/compare.hh
word2vec-kenlm/kenlm/lm/common/joint_order.hh
word2vec-kenlm/kenlm/lm/common/model_buffer_test.cc
word2vec-kenlm/kenlm/lm/common/model_buffer.cc
word2vec-kenlm/kenlm/lm/common/model_buffer.hh
word2vec-kenlm/kenlm/lm/common/ngram_stream.hh
word2vec-kenlm/kenlm/lm/common/ngram.hh
word2vec-kenlm/kenlm/lm/common/print.cc
word2vec-kenlm/kenlm/lm/common/print.hh
word2vec-kenlm/kenlm/lm/common/renumber.cc
word2vec-kenlm/kenlm/lm/common/renumber.hh
word2vec-kenlm/kenlm/lm/common/size_option.cc
word2vec-kenlm/kenlm/lm/common/size_option.hh
word2vec-kenlm/kenlm/lm/common/special.hh
word2vec-kenlm/kenlm/lm/common/test_data/generate.sh
word2vec-kenlm/kenlm/lm/common/test_data/toy0.arpa
word2vec-kenlm/kenlm/lm/common/test_data/toy1.arpa
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy0.1
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy0.2
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy0.3
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy0.kenlm_intermediate
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy0.vocab
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy1.1
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy1.2
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy1.3
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy1.kenlm_intermediate
word2vec-kenlm/kenlm/lm/common/test_data/bigendian/toy1.vocab
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy0.1
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy0.2
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy0.3
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy0.kenlm_intermediate
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy0.vocab
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy1.1
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy1.2
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy1.3
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy1.kenlm_intermediate
word2vec-kenlm/kenlm/lm/common/test_data/littleendian/toy1.vocab
word2vec-kenlm/kenlm/lm/filter/arpa_io.cc
word2vec-kenlm/kenlm/lm/filter/arpa_io.hh
word2vec-kenlm/kenlm/lm/filter/CMakeLists.txt
word2vec-kenlm/kenlm/lm/filter/count_io.hh
word2vec-kenlm/kenlm/lm/filter/filter_main.cc
word2vec-kenlm/kenlm/lm/filter/format.hh
word2vec-kenlm/kenlm/lm/filter/phrase_table_vocab_main.cc
word2vec-kenlm/kenlm/lm/filter/phrase.cc
word2vec-kenlm/kenlm/lm/filter/phrase.hh
word2vec-kenlm/kenlm/lm/filter/thread.hh
word2vec-kenlm/kenlm/lm/filter/vocab.cc
word2vec-kenlm/kenlm/lm/filter/vocab.hh
word2vec-kenlm/kenlm/lm/filter/wrapper.hh
word2vec-kenlm/kenlm/lm/interpolate/backoff_matrix.hh
word2vec-kenlm/kenlm/lm/interpolate/backoff_reunification_test.cc
word2vec-kenlm/kenlm/lm/interpolate/backoff_reunification.cc
word2vec-kenlm/kenlm/lm/interpolate/backoff_reunification.hh
word2vec-kenlm/kenlm/lm/interpolate/bounded_sequence_encoding_test.cc
word2vec-kenlm/kenlm/lm/interpolate/bounded_sequence_encoding.cc
word2vec-kenlm/kenlm/lm/interpolate/bounded_sequence_encoding.hh
word2vec-kenlm/kenlm/lm/interpolate/CMakeLists.txt
word2vec-kenlm/kenlm/lm/interpolate/interpolate_info.hh
word2vec-kenlm/kenlm/lm/interpolate/interpolate_main.cc
word2vec-kenlm/kenlm/lm/interpolate/merge_probabilities.cc
word2vec-kenlm/kenlm/lm/interpolate/merge_probabilities.hh
word2vec-kenlm/kenlm/lm/interpolate/merge_vocab_test.cc
word2vec-kenlm/kenlm/lm/interpolate/merge_vocab.cc
word2vec-kenlm/kenlm/lm/interpolate/merge_vocab.hh
word2vec-kenlm/kenlm/lm/interpolate/normalize_test.cc
word2vec-kenlm/kenlm/lm/interpolate/normalize.cc
word2vec-kenlm/kenlm/lm/interpolate/normalize.hh
word2vec-kenlm/kenlm/lm/interpolate/pipeline.cc
word2vec-kenlm/kenlm/lm/interpolate/pipeline.hh
word2vec-kenlm/kenlm/lm/interpolate/split_worker.cc
word2vec-kenlm/kenlm/lm/interpolate/split_worker.hh
word2vec-kenlm/kenlm/lm/interpolate/streaming_example_main.cc
word2vec-kenlm/kenlm/lm/interpolate/tune_derivatives_test.cc
word2vec-kenlm/kenlm/lm/interpolate/tune_derivatives.cc
word2vec-kenlm/kenlm/lm/interpolate/tune_derivatives.hh
word2vec-kenlm/kenlm/lm/interpolate/tune_instances_test.cc
word2vec-kenlm/kenlm/lm/interpolate/tune_instances.cc
word2vec-kenlm/kenlm/lm/interpolate/tune_instances.hh
word2vec-kenlm/kenlm/lm/interpolate/tune_matrix.hh
word2vec-kenlm/kenlm/lm/interpolate/tune_weights.cc
word2vec-kenlm/kenlm/lm/interpolate/tune_weights.hh
word2vec-kenlm/kenlm/lm/interpolate/universal_vocab.cc
word2vec-kenlm/kenlm/lm/interpolate/universal_vocab.hh
word2vec-kenlm/kenlm/lm/wrappers/nplm.cc
word2vec-kenlm/kenlm/lm/wrappers/nplm.hh
word2vec-kenlm/kenlm/lm/wrappers/README
word2vec-kenlm/kenlm/python/_kenlm.pxd
word2vec-kenlm/kenlm/python/CMakeLists.txt
word2vec-kenlm/kenlm/python/example.py
word2vec-kenlm/kenlm/python/kenlm.cpp
word2vec-kenlm/kenlm/python/kenlm.pyx
word2vec-kenlm/kenlm/python/score_sentence.cc
word2vec-kenlm/kenlm/python/score_sentence.hh
word2vec-kenlm/kenlm/util/bit_packing_test.cc
word2vec-kenlm/kenlm/util/bit_packing.cc
word2vec-kenlm/kenlm/util/bit_packing.hh
word2vec-kenlm/kenlm/util/cat_compressed_main.cc
word2vec-kenlm/kenlm/util/CMakeLists.txt
word2vec-kenlm/kenlm/util/ersatz_progress.cc
word2vec-kenlm/kenlm/util/ersatz_progress.hh
word2vec-kenlm/kenlm/util/exception.cc
word2vec-kenlm/kenlm/util/exception.hh
word2vec-kenlm/kenlm/util/fake_ostream.hh
word2vec-kenlm/kenlm/util/file_piece_test.cc
word2vec-kenlm/kenlm/util/file_piece.cc
word2vec-kenlm/kenlm/util/file_piece.hh
word2vec-kenlm/kenlm/util/file_stream.hh
word2vec-kenlm/kenlm/util/file.cc
word2vec-kenlm/kenlm/util/file.hh
word2vec-kenlm/kenlm/util/fixed_array.hh
word2vec-kenlm/kenlm/util/float_to_string.cc
word2vec-kenlm/kenlm/util/float_to_string.hh
word2vec-kenlm/kenlm/util/getopt.c
word2vec-kenlm/kenlm/util/getopt.hh
word2vec-kenlm/kenlm/util/have.hh
word2vec-kenlm/kenlm/util/integer_to_string_test.cc
word2vec-kenlm/kenlm/util/integer_to_string.cc
word2vec-kenlm/kenlm/util/integer_to_string.hh
word2vec-kenlm/kenlm/util/joint_sort_test.cc
word2vec-kenlm/kenlm/util/joint_sort.hh
word2vec-kenlm/kenlm/util/mmap.cc
word2vec-kenlm/kenlm/util/mmap.hh
word2vec-kenlm/kenlm/util/multi_intersection_test.cc
word2vec-kenlm/kenlm/util/multi_intersection.hh
word2vec-kenlm/kenlm/util/murmur_hash.cc
word2vec-kenlm/kenlm/util/murmur_hash.hh
word2vec-kenlm/kenlm/util/parallel_read.cc
word2vec-kenlm/kenlm/util/parallel_read.hh
word2vec-kenlm/kenlm/util/pcqueue_test.cc
word2vec-kenlm/kenlm/util/pcqueue.hh
word2vec-kenlm/kenlm/util/pool.cc
word2vec-kenlm/kenlm/util/pool.hh
word2vec-kenlm/kenlm/util/probing_hash_table_benchmark_main.cc
word2vec-kenlm/kenlm/util/probing_hash_table_test.cc
word2vec-kenlm/kenlm/util/probing_hash_table.hh
word2vec-kenlm/kenlm/util/proxy_iterator.hh
word2vec-kenlm/kenlm/util/read_compressed_test.cc
word2vec-kenlm/kenlm/util/read_compressed.cc
word2vec-kenlm/kenlm/util/read_compressed.hh
word2vec-kenlm/kenlm/util/scoped.cc
word2vec-kenlm/kenlm/util/scoped.hh
word2vec-kenlm/kenlm/util/sized_iterator_test.cc
word2vec-kenlm/kenlm/util/sized_iterator.hh
word2vec-kenlm/kenlm/util/sorted_uniform_test.cc
word2vec-kenlm/kenlm/util/sorted_uniform.hh
word2vec-kenlm/kenlm/util/spaces.cc
word2vec-kenlm/kenlm/util/spaces.hh
word2vec-kenlm/kenlm/util/string_piece_hash.hh
word2vec-kenlm/kenlm/util/string_piece.cc
word2vec-kenlm/kenlm/util/string_piece.hh
word2vec-kenlm/kenlm/util/string_stream_test.cc
word2vec-kenlm/kenlm/util/string_stream.hh
word2vec-kenlm/kenlm/util/thread_pool.hh
word2vec-kenlm/kenlm/util/tokenize_piece_test.cc
word2vec-kenlm/kenlm/util/tokenize_piece.hh
word2vec-kenlm/kenlm/util/usage.cc
word2vec-kenlm/kenlm/util/usage.hh
word2vec-kenlm/kenlm/util/double-conversion/bignum-dtoa.cc
word2vec-kenlm/kenlm/util/double-conversion/bignum-dtoa.h
word2vec-kenlm/kenlm/util/double-conversion/bignum.cc
word2vec-kenlm/kenlm/util/double-conversion/bignum.h
word2vec-kenlm/kenlm/util/double-conversion/cached-powers.cc
word2vec-kenlm/kenlm/util/double-conversion/cached-powers.h
word2vec-kenlm/kenlm/util/double-conversion/CMakeLists.txt
word2vec-kenlm/kenlm/util/double-conversion/diy-fp.cc
word2vec-kenlm/kenlm/util/double-conversion/diy-fp.h
word2vec-kenlm/kenlm/util/double-conversion/double-conversion.cc
word2vec-kenlm/kenlm/util/double-conversion/double-conversion.h
word2vec-kenlm/kenlm/util/double-conversion/fast-dtoa.cc
word2vec-kenlm/kenlm/util/double-conversion/fast-dtoa.h
word2vec-kenlm/kenlm/util/double-conversion/fixed-dtoa.cc
word2vec-kenlm/kenlm/util/double-conversion/fixed-dtoa.h
word2vec-kenlm/kenlm/util/double-conversion/ieee.h
word2vec-kenlm/kenlm/util/double-conversion/LICENSE
word2vec-kenlm/kenlm/util/double-conversion/strtod.cc
word2vec-kenlm/kenlm/util/double-conversion/strtod.h
word2vec-kenlm/kenlm/util/double-conversion/utils.h
word2vec-kenlm/kenlm/util/stream/block.hh
word2vec-kenlm/kenlm/util/stream/chain.cc
word2vec-kenlm/kenlm/util/stream/chain.hh
word2vec-kenlm/kenlm/util/stream/CMakeLists.txt
word2vec-kenlm/kenlm/util/stream/config.hh
word2vec-kenlm/kenlm/util/stream/count_records.cc
word2vec-kenlm/kenlm/util/stream/count_records.hh
word2vec-kenlm/kenlm/util/stream/io_test.cc
word2vec-kenlm/kenlm/util/stream/io.cc
word2vec-kenlm/kenlm/util/stream/io.hh
word2vec-kenlm/kenlm/util/stream/line_input.cc
word2vec-kenlm/kenlm/util/stream/line_input.hh
word2vec-kenlm/kenlm/util/stream/multi_progress.cc
word2vec-kenlm/kenlm/util/stream/multi_progress.hh
word2vec-kenlm/kenlm/util/stream/multi_stream.hh
word2vec-kenlm/kenlm/util/stream/rewindable_stream_test.cc
word2vec-kenlm/kenlm/util/stream/rewindable_stream.cc
word2vec-kenlm/kenlm/util/stream/rewindable_stream.hh
word2vec-kenlm/kenlm/util/stream/sort_test.cc
word2vec-kenlm/kenlm/util/stream/sort.hh
word2vec-kenlm/kenlm/util/stream/stream_test.cc
word2vec-kenlm/kenlm/util/stream/stream.hh
word2vec-kenlm/kenlm/util/stream/typed_stream.hh
word2vec-kenlm/5gram_correct.arpa
word2vec-kenlm/5gram.arpa
models/KenLM-Wav2Vec2-Hebrew/added_tokens.json
models/KenLM-Wav2Vec2-Hebrew/alphabet.json
models/KenLM-Wav2Vec2-Hebrew/preprocessor_config.json
models/KenLM-Wav2Vec2-Hebrew/special_tokens_map.json
models/KenLM-Wav2Vec2-Hebrew/tokenizer_config.json
models/KenLM-Wav2Vec2-Hebrew/vocab.json
models/KenLM-Wav2Vec2-Hebrew/language_model/5gram_correct.arpa
models/KenLM-Wav2Vec2-Hebrew/language_model/attrs.json
models/KenLM-Wav2Vec2-Hebrew/language_model/unigrams.txt
word2vec-kenlm/batra_155.mp3
word2vec-kenlm/data/recordings/batra_155.mp3
word2vec-kenlm/data/recordings/bavametzia_2.mp3
word2vec-kenlm/data/recordings/bavametzia4.mp3
wav2vec-kenlm/data/mesivta/5gram_correct.arpa
wav2vec-kenlm/data/mesivta/5gram.arpa
wav2vec-kenlm/data/ivritai/5gram_correct.arpa
wav2vec-kenlm/data/ivritai/5gram.arpa
wav2vec-kenlm/data/ivritai/ivritai.txt
wav2vec-kenlm/data/ivritai/5gram_correct.arpa
wav2vec-kenlm/data/ivritai/5gram.arpa
wav2vec-kenlm/data/ivritai/ivritai.txt
demo/5gram_correct.arpa
demo/5gram.arpa
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0/config.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0/model.safetensors
wav2vec_finetune/wav2vec2bert/__pycache__/config.cpython-310.pyc
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/dataset_dict.json
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/test/data-00000-of-00001.arrow
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/test/dataset_info.json
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/test/state.json
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/train/data-00000-of-00001.arrow
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/train/data-00000-of-00002.arrow
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/train/data-00001-of-00002.arrow
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/train/dataset_info.json
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/train/state.json
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/validation/data-00000-of-00001.arrow
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/validation/dataset_info.json
wav2vec_finetune/wav2vec2bert/datasets/fleurs-filtered-proc/validation/state.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0/preprocessor_config.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0/special_tokens_map.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0/tokenizer_config.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0/vocab.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0-finetuned/config.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0-finetuned/preprocessor_config.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0-finetuned/special_tokens_map.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0-finetuned/tokenizer_config.json
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0-finetuned/training_args.bin
wav2vec_finetune/wav2vec2bert/models/facebook/w2v-bert-2.0-finetuned/vocab.json
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/dataset_dict.json
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/test/data-00000-of-00002.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/test/data-00001-of-00002.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/test/dataset_info.json
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/test/state.json
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00000-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00001-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00002-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00003-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00004-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00005-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00006-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00007-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00008-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00009-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/data-00010-of-00011.arrow
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/dataset_info.json
wav2vec_finetune/wav2vec2bert/datasets/ivritai-filtered-proc/train/state.json
